/* *{
    background-color: black;
    color: white;
} */

.container{
    margin: auto;
    border: 2px solid black;
    width: 500px;
    height: 650px;
}
#task{
    margin-top:1rem;
    margin-left: 5rem;
    font-size: large;
    font-weight: bold;
}
 .btn1{
    border: 1px solid black;;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
 }
 .btn1:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
 }
 .lis{
    margin-left:5rem;
    font-size: large;
    font-weight: bold;
 }
 .btn2{
    border: 1px solid black;;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
 }
 .btn2:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
 }
 .head{
    color: teal;
    text-align: center;
    margin-bottom: 0px;
    font-size: 3rem;
 }